@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* Dots default */
.slick-dots li button:before {
  color: white !important;
  /* White color */
  opacity: 1;
  /* Fully visible */
  font-size: 16px;
  /* Size bada kiya */
}

/* Swiper dots ko slider ke neeche fix */
.swiper-pagination {
  position: relative !important;
  /* default absolute hatao */
  margin-top: 16px;
  /* slider ke niche gap */
  text-align: center;
}

/* Swiper pagination bullets ko white karo */
.swiper-pagination-bullet {
  background-color: white !important;
  /* inactive dots white */
  opacity: 0.6;
  /* halka white */
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  /* active dot pure white */
  opacity: 1;
}



/* Active dot */
.slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1;
  font-size: 16px;
}

/* Dots container spacing */
.slick-dots {
  bottom: -25px;
  /* Slider ke neeche thoda gap */
}


/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* slim scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  /* track transparent */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0DACAF;
  /* teal color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  /* hide top/bottom arrows */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #0DACAF transparent;
}

/* Hover Border Animation (Top -> Right -> Bottom -> Left) */
.perk-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  pointer-events: none;
  border-radius: 12px;
  /* same as rounded-xl */
}

.perk-box:hover::before {
  border-color: #0DACAF;
  animation: border-draw 0.8s linear forwards;
}

@keyframes border-draw {
  0% {
    border-top-color: #0DACAF;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  25% {
    border-top-color: #0DACAF;
    border-right-color: #0DACAF;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    border-top-color: #0DACAF;
    border-right-color: #0DACAF;
    border-bottom-color: #0DACAF;
    border-left-color: transparent;
  }

  100% {
    border-color: #0DACAF;
  }
}