@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


*{
      font-family: "Roboto", sans-serif;
}

/* Dots default */
.slick-dots li button:before {
  color: white !important;      /* White color */
  opacity: 1;        /* Fully visible */
  font-size: 16px;   /* Size bada kiya */
}

/* Active dot */
.slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1;
  font-size: 16px;
}

/* Dots container spacing */
.slick-dots {
  bottom: -25px; /* Slider ke neeche thoda gap */
}
